/* Formateamos los estilos de la pagina*/
*{
    margin: 0;
    box-sizing: border-box;
}
/* se configura el tamaño de fuente*/
html{
    font-size: 100%;
}

body{
    height: 100%;
}

.contenedor-header{
    background-color: #000;
    color: #eee;
    padding: 15px;
    height: 10vh ;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.titulo-principal{
    font-size: 1.7rem;
    font-weight: bold;
}

.descripcion{
    color: #999;
    margin-top: 10px;
    font-weight: lighter ;
}

.contenedor-botones{
    background-color: #222;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.columnas{
    margin: 0;

}

.contenedor-colores{
    height: 60vh;
    background-color: aqua;
}