/* ===== RESET ===== */
*{
    margin: 0;
    box-sizing: border-box;
}

/* ===== FONTS ===== */
:root{
    --fs-xs: 0.75rem;   /* 12px */
    --fs-sm: 0.875rem;  /* 14px */
    --fs-md: 1rem;      /* 16px (base) */
    --fs-lg: 1.125rem;  /* 18px */
    --fs-xl: 1.25rem;   /* 20px */
    --fs-2xl: 1.5rem;   /* 24px */
    --fs-3xl: 1.875rem; /* 30px */
}


/* ===== COLORS ===== */
:root{
    --white-color: #eee;
    --black-color: #000;
    --grey-color: #aaa;
    --grey-dark: #222 ;
    --grey-dark-transparent:rgba(2,2,2,0.5); 

}
/* ===== SETING ===== */

html{
    font-size: 100%;
}
body{
    height: 100%;
}

/* ===== HEADER ===== */
.contenedor-header{
    background-color: var(--black-color);
    color: var(--white-color);
    min-height: 15vh ;
    font-family: 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.titulo-principal{
    font-size: var(--fs-3xl);
    font-weight: bold;
}
.descripcion{
    color: var(--grey-color);
    font-weight: lighter ;
}

/* ===== BUTON PANEL ===== */
.contenedor-botones{
    background-color: var(--grey-dark);
    min-height: 20vh;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    justify-items: center;
    align-items: center;
}
.contenedor-botones button, select {
    background-color: var(--grey-dark-transparent);
    color: var(--grey-color);
    min-width: 23vh;
    min-height: 8vh;
    border-radius: 7px;
    font-size: var(--fs-md);
    padding: 20px;
    border: none;
}
.contenedor-botones select{
    justify-self: end;
}
option{
    background-color: var(--grey-dark);
    color: var(--grey-color);

}

#boton-exportar{
    justify-self: start;
}

/* ===== COLORS PANELS ===== */
#contenedor-colores{
    min-height: 65vh;
    background-color: var(--white-color);
    display: grid;
    

    
}