/* ----------- RESET-------------- */
*{
    margin: 0;
    box-sizing: border-box;
}

/* ------------ TAMAÑOS FUENTES --------------- */
:root{
    --fs-xs: 0.75rem;   /* 12px */
    --fs-sm: 0.875rem;  /* 14px */
    --fs-md: 1rem;      /* 16px (base) */
    --fs-lg: 1.125rem;  /* 18px */
    --fs-xl: 1.25rem;   /* 20px */
    --fs-2xl: 1.5rem;   /* 24px */
    --fs-3xl: 1.875rem; /* 30px */
}


/* ---------- COLORES------------- */
:root{
    --white-color: #eee;
    --black-color: #000;
    --grey-color: #aaa;
    --grey-dark: #222 ;
    --grey-dark-transparent:rgba(2,2,2,0.5); 

}
/* -----------CONFIGURACION-------------- */
html{
    font-size: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    user-select: none;
}
body{
    height: 100%;
    background-color: var(--grey-dark)
}

/* ------------- HEADER---------------- */
.contenedor-header{
    background-color: var(--black-color);
    color: var(--white-color);
    max-width: 100vw;
    min-height: 15vh ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.titulo-principal{
    font-size: var(--fs-3xl);
    font-weight: bold;
}
.descripcion{   
    color: var(--grey-color);           
    font-weight: lighter ;
}

/* ---------BOTONES------------ */
.contenedor-botones{
    background-color: var(--grey-dark);
    min-height: 15vh;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "titulo-seleccion . .  "
        "seleccion-cantidad boton-generar formato"
        "consejo consejo consejo"
;

    justify-items: center;
    align-items: center;
}
.boton-generar, .boton-exportar, .seleccion-cantidad,.contenedor-formato {
    background-color: var(--grey-dark-transparent);
    color: var(--grey-color);
    min-width: 15vw;
    min-height: 8vh;
    border-radius: 7px;
    font-size: var(--fs-md);
    text-align: center;
    border: none;
    align-self: start;

    transition: background-color 0.2s ease ;

}
.boton-generar:hover, .boton-exportar:hover, .seleccion-cantidad:hover{ 
    background-color: var(--black-color);
    cursor: pointer;

}

.titulo-seleccion{
    grid-area: titulo-seleccion;
    justify-self: end;
    align-self: end;
    margin-right: 25px;
    margin-bottom: 5px;
    color: var(--grey-color);
    font-size: var(--fs-md);
}
.seleccion-cantidad{
    grid-area: seleccion-cantidad;
    justify-self: end;
    text-align: center;
    
}
option{
    background-color: var(--grey-dark);
    color: var(--grey-color);
    text-align: center;

}
.boton-generar{
    grid-area: boton-generar;
    justify-self: center ;
    margin-left: 20px;
}

.consejo{
    grid-area: consejo;
    color: var(--grey-color);
    margin-bottom: 20px;
}

.contenedor-formato{
    justify-self: start;
    grid-area: formato;
    display: grid;
    min-width: 18vw;
    grid-template-columns: 1fr 1fr 1fr; 
}

.contenedor-botones p{
    color: var(--grey-color);
    font-size: var(--fs-lg);
    align-self: center;
    margin-left: 20px;
}

.check-hexa,.check-hsl{
    font-size: var(--fs-lg);
    align-self: center;
    accent-color: gold;
}

/*------------- CONTENEDOR COLORES ------------------ */
.contenedor-colores{
    min-height: 60vh;
    background-color: var(--grey-dark);
    display: grid;
}

.colores-6 {
    grid-template-columns: repeat(6, 2fr);
}

.colores-8 {
    grid-template-columns: repeat(8, 1fr);
}

.colores-9 {
    grid-template-columns: repeat(9, 1fr);
}

.color{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.color:hover {
    transition: 0.5s;
    transform: translateY(-10px);
}

.candado{
    max-width: 3vw;
    max-height: 2vw;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100%;
    margin-top: 20px;
    display: flex;
    align-self: end;
    margin-right: 20px;
    
    /* Transiciones suaves */
    transition: all 0.2s ;
}

.desbloqueado {
    transform: translateY(-3px); /* Se mueve a la derecha */

}

.descripcion-color{
    max-width: 10rem;
    align-self: center;
    color: var(--white-color);
    background-color: var(--grey-dark-transparent);
    font-size: var(--fs-xl);
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin: 0 0 10px 10px;
    cursor: pointer;
}

.mensaje-usuario{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;

    color: var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--grey-dark-transparent);
}

.cartel-info{
    color: var(--white-color);
    font-size: var(--fs-xs);
    width: 145px;
    height: 20px;
    background-color: var(--black-color);
    border-radius: 7px;
    text-align: center;
}

.copiar{
    display: none;
    position:absolute;
    bottom: 12%;
    left: 60%;

}

.bloquear-desbloquear{
    width: 165px;
    display: none;
    position: absolute;
    bottom: 81%;
    left: 10%;
    
}

/* Control de media quires para moviles  */
@media (max-width: 480px) {
    /* HEADER */
    .contenedor-header{
        min-height: 10vh;
    }
    
    .titulo-principal{
        font-size: var(--fs-xl)
    }
    
    /* BOTONES */
    .contenedor-botones {
        min-height: 10vh;
        gap: 7px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 

        "seleccion-cantidad"
        "boton-generar"
        "formato"
        "consejo";
    }
    
    .boton-generar,.seleccion-cantidad,.contenedor-formato{
        justify-self: center;
        min-width: 80vw;
        min-height: 8vh;
        margin: 0;
    }

    .contenedor-header{
        margin-bottom: 10px;
    }
    
    .consejo{
        text-align: center;
        font-size: var(--fs-xs);
        
    }

    .contenedor-colores{
        min-height: 70vh;
    }

    .colores-6, .colores-8, .colores-9 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .color{
        min-height: 26vh;
    }

    .descripcion-color{
        font-size: var(--fs-sm);
    }

    .candado{
        max-width: 1.5rem;
        max-height: 1.5rem;
    }
}


